body {
    margin: auto;
    background-color: rgb(155, 10, 30);
    font-family: "Pirata One", system-ui;
    font-weight: 400;
    font-style: normal;
    color: #fff;
}
/* -000- Start of styleing of grid -000- */
.grid {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-columns: auto;
    grid-template-areas: 
        "logo banner banner"
        "nav nav nav"
        "main main side"
        "footer footer footer";
}
.box{
    border: solid 1px #fff;
    margin: 3px;
    padding: 20px;

}
.logo{
    grid-area: logo;/*this tells the css that  we are refering to the logo section in our grid above in grid*/
}
.banner{
    grid-area: banner;
}

.logo, .banner{
    padding: 5px;
}
.nav{
    grid-area: nav;
    background-color: #535353;
    color: #db9;
    text-align: center;
    font-size: 22px;
}
.main{
    grid-area: main;
    font-size: 20px;
}
.side{
    grid-area: side;
}
.footer{
    grid-area: footer;
    background-color: #535353;
}
.logo, .banner{
    background-color: #6a170b;
}
/* -000- Start of styleing of grid -000- */
.nav a{
    text-decoration: none;
    font-weight: bold;
    text-size-adjust: 20;
}
.nav a:link, a:visited{
    color: #efefef;
}
.nav a:hover{color: #d4efef;}
